---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="PortfolioWebBrunoFazio">
	<main>
		<h1 class="text-6xl text-white font-bold">PortfolioBofo👽</h1>
	</main>
</Layout>


