---

---

<header class="bg-gray-800 text-white">
    <nav class="container mx-auto flex items-center justify-between py-4">
        <ul>
            <li>
                holas
            </li>
            
        </ul>
    </nav>
</header>
